<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <form [formGroup]="loginFormGroup">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Mobile Number</ion-label>
        <ion-input type="number" formControlName="fctl_username" maxlength=10></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="fctl_password"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button (click)="login()" expand="block" color="secondary">
      Login
    </ion-button>
    <ion-item>
      <ion-label color="danger">{{v_ret_val}}</ion-label>
    </ion-item>


  </form>
</ion-content>