<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <!-- <ion-card-subtitle>Get Started</ion-card-subtitle> -->
        <ion-card-title>Welcome To {{v_apart_name }} {{v_occupantName}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-card-subtitle>Apartment No  : {{v_apart_number}}</ion-card-subtitle>
        <ion-card-subtitle>Mobile Number : {{v_mobile_no}}</ion-card-subtitle>
      </ion-card-content>
    </ion-card>
    <!-- <ion-button (click)="getPdf()">
      Get PDF
    </ion-button> -->
</ion-content>
